* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(188, 186, 186);
}

#boss {
    background-color: #F4F8FA;
    padding-top: 24px;
    padding-bottom: 50px;

}

.logo-father {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.child {
    display: flex;
    gap: 40px;
    list-style: none;
}

.child select {
    width: 55px;
    height: 24px;
}

.child2 {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.father {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    max-width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.father h1 {
    font-size: 29px;
    font-weight: 600;
}

.father p {
    font-size: 16px;
}

.father2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.brother {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login {
    color: #01BAB3;
}

.input-fullname {
    display: flex;
    align-items: center;
    gap: 16px;

}

.input-fullname input {
    height: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    max-width: 200px !important;
    padding-left: 10px;
}

.input-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input-date {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-date input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-radios {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.input-radios label {
    display: block;
    height: 50px !important;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    width: 100%;
    max-width: 200px !important;
    padding-left: 10px;
    display: flex;
    gap: 60px;
    align-items: center;
    cursor: pointer;
}

.input-radios label input {
    color: #01BAB3;
}

.input-gender {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.input-skype {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-skype input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
}

.input-promo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-promo input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    background-color: #01BAB3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
}

.input-address {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-address input {
    width: 100%;
    max-width: 414px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
}

.input-phone {
    display: flex;

    flex-direction: column;
}

.country-city {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.input-phone input {
    width: 100%;
    max-width: 414px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
}

.select {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-city {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-city input {
    height: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    max-width: 200px !important;
    width: 100%;
    padding-left: 10px;
}

.select select {
    height: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    max-width: 200px !important;
    width: 100%;
    padding-left: 10px;
}

.input-password {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-password input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
}

.input-password2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-password2 input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #FB3838;
    padding-left: 10px;
    padding-right: 10px;
}

#boss1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 414px;
}

.input-main {
    width: 100%;
}

.input-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-email input{
    width: 100%;
    height: 50px;
    max-width: 414px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-login{
    width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 414px;
}

.input-parol{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-parol input{
    width: 100%;
    height: 50px;
    max-width: 414px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btn1{
    margin-top: 87px;
}

.link{
    display:block !important;
}